<% provide(:title, "Sign in") %>
<h1>サインイン</h1>

<%= form_for(:session, url: sessions_path) do |f| %>
	<%= f.label :email %>
	<%= f.text_field :email %>

	<%= f.label :password %>
	<%= f.password_field :password %>

	<%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
<% end %>

<p>ユーザー登録は<%= link_to "こちら", signup_path %></p>