<% provide(:title, @user.name) %>
<h1>
	<%= gravatar_for @user %>
	<%= @user.name %>
</h1>
<% if @user.documents.any? %>
    <h3>Documents (<%= @user.documents.count %>)</h3>
    <ul class="documents">
    	<%= render @documents %>
    </ul>
    <%= will_paginate @documents %>
<% end %>