<%= form_for(@document) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
	<%= f.text_area :content, placeholder: "Compose new document..." %>

	<%= f.label :lat, "緯度" %>
	<%= f.text_field :lat %>

	<%= f.label :lng, "経度" %>
	<%= f.text_field :lng %>

	<%= f.label :date, "日付" %>
	<%= f.text_field :date %>

	<%= f.label :weather, "天気" %>
	<%= f.text_field :weather %>

  </div>
  <%= f.submit "Post", class: "ui-btn" %>
<% end %>