<% provide(:title, "マップ") %>

<div data-role = "listview">
<% @documents.each do |document| %>
	<li><!--<strong><%= document.user.name %></strong><br>
		<%= document.content %><br>
		<%= document.date %> - <%= time_ago_in_words(document.created_at) %>ago-->
		<%= link_to document.content , document %> 
	</li>
<% end %>
</div>

