<% provide(:title, "マップ") %>

<%= link_to "場所を追加する" , new_document_path, class: "ui-btn" %> 
<br>

<div data-role = "listview">
<% @documents.each do |document| %>
	<li><strong><%= document.user.name %></strong><br>
		<%= document.content %><br>
		<%= document.date %> - <%= time_ago_in_words(document.created_at) %>ago
		<div class = "ui-btn-right">
			<%= link_to "詳細" , document, class: "ui-btn" %>
		</div>
	</li>
<% end %>
</div>

