<% provide(:title, "マップ") %>

<% @documents.each do |document| %>
	<li><%= link_to gravatar_for(document.user), document.user %>
    	<%= link_to document.user.name, document.user %><br>
		<%= document.date %> , <%= document.weather %><br>
		<%= document.content %><br>
		( <%= document.lat %>, <%= document.lng %> ) -  <%= time_ago_in_words(document.created_at) %>ago
		<% if current_user?(document.user) %>
    		<%= link_to "delete", document, method: :delete, data: { confirm: "You sure?" }, title: document.content %>
  		<% end %>
	</li>
<% end %>
