<% provide(:title, "詳細") %>
<p><%= @document.date %>  -  <%= time_ago_in_words(@document.created_at) %> ago<br>
<%= @document.weather %><br>
	<%= @document.content %><br>
	( <%= @document.lat %>, <%= @document.lng %> )
</p>